.AboutUsPage {
    overflow-x: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #38527D;
}

.App-header {

}

.body {
    height: 100vh;
    width: 80vw;

}

.leftSide {

}

.Team_Roles {
    height: 28vh;
    width: 45vw;
    margin-left: 7vw;
}

.rightSide {

}

.team_gear {
    margin-left: 10vw;
    margin-top: 5vh;
}