.AboutUsPage {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #38527D;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}