*{
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

.ProfilePage {
    overflow-x: hidden;
    height: 100%;
    background-image: url("../assets/ProfilePage/Background.png");
    background-repeat: no-repeat;
}

.Container {
    display: flex;
}

.App-logo {
    margin-right: 5rem;
}

.AvatarUsernameHolder {

}

.p-3 {
    margin-left: 5rem;
}

.Buttons {

}

.LogoutButton {

}

.SettingsButton {


}