.AboutUsPage {
    background-color: #38527D;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bodyAboutUs{
    display: flex;
    flex-direction: column;
}

.bodyAboutUs img{
    width: 50rem;
}

.carlos img{
    padding-top: 15%;
    width: 30rem;
}

