.AboutUsPage {
    overflow-x: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #38527D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyAboutUs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
}


.Team_Roles, .CarlosTeamMember {
    max-width: 100%;
    height: auto;
}


@media screen and (max-width: 768px) {
    .bodyAboutUs {
        flex-direction: column;
        width: 90vw;
    }

    .leftSideUs, .rightSideUs {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Team_Roles {
        margin: 0;
    }

    .team_gear {
        margin: 0;
    }
}


@media screen and (max-width: 480px) {
    .bodyAboutUs {
        width: 95vw;
    }

    .leftSideUs, .rightSideUs {
        width: 100%;
    }

    .Team_Roles, .team_gear {
        margin: 0;
    }
}
