.createRecipeContainer{
    width: 100%;
    height: 100vh;
    background-color: #38517d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}

.topContainer, .formContainer{
    flex-grow: 1;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}

.topContainer{
    background-color: #C9FE71;
    flex-grow: 1;
}

.textArea{
    width: 100%;
    height: 100%;
    flex-grow: 1;
}
