.FAQPage {
    background-color: #38527D;
    overflow-x: hidden;
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QA {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 800px;
    margin: auto;
    overflow-y: auto;
}

.accordion-header {
    width: 100%;
    color: #C9FE71;
    background-color: #38527D;
    border-bottom: 1px solid #C9FE71;
}

.accordion-body {
    width: 100%;
    padding: 10px;
    color: #C9FE71;
    background-color: #293242;
}

.accordion-item {
    border-color: #C9FE71;
}

.disclaimer{
    color: red;
}
