html {
    Background-color: #38527D;
}

.searchForm{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.search {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    transition: all 0.3s;
}
.search:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
}
.search__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;
}
.search__field:focus {
    outline: none;
}
.search__field::-moz-placeholder {
    color: #d3c7c3;
}
.search__field::placeholder {
    color: #d3c7c3;
}
.btn__search {
    width: 30%;
    padding: 2%;
    background-image: linear-gradient(to right bottom, #C9FE71, #38527D);
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}

.recipeContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.preview {
    background-color: #6384ba;
    border-radius: 10rem;
    display: flex;
    justify-content: space-evenly;
}
.preview__data{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

preview__time{
    display: flex;
    flex-direction: column;
}

.results {
    list-style: none;
    margin-bottom: 2rem;
    width: 90%;
}
