html {
    Background-color: #38527D;
    overflow-x: hidden;
}

.searchForm {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.search {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    transition: all 0.3s;
}

.search:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
}

.search__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 37rem;
}

.search__field:focus {
    outline: none;
}

.search__field::-moz-placeholder {
    color: #d3c7c3;
}

.search__field::placeholder {
    color: #d3c7c3;
}


.recipeContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.recipeContainer:hover {
    transform: scale(1.05);
}

.recipeContainer a {
    text-decoration: none;
    color: black;
}


.topRecipes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.topRecipes a {
    text-decoration: none;
    color: black;
}

#categoryContainer {
    margin-top: 1rem;
}

.category {
    background-color: rgba(0, 0, 0, 0.08);
    margin: 0.5rem;
    padding: 0.4rem;
    border-radius: 1rem;
    height: 2rem;
}

@media (max-width: 1700px) {

    .topRecipes {
        flex-direction: column;
        align-items: center;

    }
}


@media (max-width: 1000px) {

    .RecipeBrowser {
        margin-top: 10%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .searchForm {
        width: 100%;
        display: flex;
    }

    .search {
        margin-bottom: 1rem;
    }

    .search__field {
        width: 100%;
    }

    .search__field::placeholder {
        font-size: 1.5rem;
    }

    .recipeContainer {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        padding: 0;
    }


    .topRecipes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    #cards {
        display: flex;
        width: 70vw;
        height: fit-content;
        box-shadow: #2b2f32 12px 12px 12px;
    }

}
