#Main-Container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

#Left-Container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/Loginpage_avocado.svg");
    background-size: 100%;
}

#Left-Inner-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #C9FE71;
}

#Right-Container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: black;
    background-color: #C9FE71;
}

#Top-Right-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.imageUploader-container {

}

.form-container {

}

#Info-Container {
    display: flex;
}

#Difficulty-Container {
    display: flex;
}

#Bottom-Right-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textArea{
    width: 40vw;
    height: 20vh;
}

.Save-Recipe-Button {
    border-color: black;
}
