html{
     background-color: #38517d;
}

#createRecipe_grid-container{
     display: flex;

}

.subContainer_left{
     display: flex;
     background-color:#38517d;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 100px;
     width: 50%;
}
.subContainer_left > img{
     width: 50%;

}
.subContainer_right{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color:#38517d;
     flex-direction: column;
     padding-top: 100px;
     padding-right: 100px;
     width: 50%;
}

#ingredientForm{
     width: 50%;

}

.subC_right_1{
     display: flex;
     flex-direction: column;
     align-items: center;
}

textarea{
     width: 50%;
}