.ImpressumPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Startet die Ausrichtung vom Anfang */
    background-color: #38527D;
    background-size: cover;
}

.body {
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.content {
    color: #C9FE71;
    font-size: 25px;
}






