#LoginPage {
    Background-color: #38527D;
    display: flex;
    justify-content: space-evenly;
}

#BodyLeft {
    display: flex;
    justify-content: center;
    background-image: url("../assets/Logos_Icons/CookHub_Frame_unfilled_no_background.png");
    background-size: cover;
    background-position: center;
    width: 35rem;
}

#FormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-label {
    font-size: 1.5rem;
    color: #ffffff;
}

.InputMail, .InputPassword {
    font-size: 2rem;
}

.InputMail input, .InputPassword input {
    max-width: 100%;
    padding: 1rem;
}

.InputMail label, .InputPassword label {
    font-size: 1.5rem;
}

.SubmitButton {
    background-color: #C9FE71;
    color: #000000;
    padding: 1rem 5rem;
    border-radius: 15px;
    cursor: pointer;
    border: solid 3px black;
    margin-top: 2rem;
}

.sign-up {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.SignUpLink {
    font-size: 1.3rem;
    color: #C9FE71;
    cursor: pointer;
}




#BodyRight {
    display: flex;
    flex-direction: column;
    color: #C9FE71;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px black;
}

.StartAdventure {
    font-size: 4rem;
}

.LoginPageText {
    font-size: 1rem;
}

.Chef-Carlo2 {
    width: 20rem;
    height: 20rem;
}

.bubble {
    margin-top: 2rem;
    position: relative;
    padding: 1em;
    width: 35rem;
    border-radius: .25em;
    transform: rotate(-4deg) rotateY(15deg);
    background: #c7fc71;
    font: 1.3rem Century Gothic, Verdana, sans-serif;
    text-align: center;
    color: #ffffff;
}
.bubble span{
    color: #C9FE71;
    background-color: #262525FF;
    font-weight: bold;
}

.bubble:before, .bubble:after {
    position: absolute;
    z-index: -1;
    content: '';
}

.bubble:after {
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: inherit;
    transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
    background: #262525;
    box-shadow: 0 0 .5em rgb(199, 252, 113);
}

.bubble:before {
    border: solid 0 transparent;
    border-right: solid 3.5em #000000;
    border-bottom: solid .25em #c7fc71;
    bottom: .25em; left: 1.25em;
    width: 0; height: 1em;
    transform: rotate(45deg) skewX(75deg);
}



@media (max-width: 1100px){
    #LoginPage {
        flex-direction: column;
        align-items: center;
    }

    #BodyLeft {
        width: 15rem;
    }

    .InputMail label, .InputPassword label {
        font-size: 0.7rem;
    }

    #exampleInputEmail1, #exampleInputPassword1 {
        width: 9rem;
        height: 2rem;
    }

    .sign-up {
        font-size: 1rem;
        font-weight: bold;
    }
    .SignUpLink{
        font-size: 1rem;
        background-color: black;
        border-radius:10px;
        font-weight: bold;
        margin-top: 1.5rem;
    }

    .SubmitButton {
        font-size: 1rem;
        width: 9rem;
        height: 2rem;
        padding:0 ;
    }

    .bubble {
        width: 19rem;
    }

    .Chef-Carlo2 {
        width: 15rem;
        height: 15rem;
    }


}
