#LoginPage {
    Background-color: #38527D;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

#BodyLeft {
    display: flex;
    flex: 1;
    background-image: url("../assets/Logos_Icons/CookHub_Frame_unfilled_no_background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 5rem;
}

#FormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-label {
    font-size: 1.5rem;
    color: #ffffff;
}

.InputMail, .InputPassword {
    font-size: 2rem;
}

.InputMail input, .InputPassword input {
    max-width: 100%;
    padding: 1rem;
}

.InputMail label, .InputPassword label {
    font-size: 1.5rem;
}

.SubmitButton {
    background-color: #C9FE71;
    color: #000000;
    padding: 1rem 2rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    border: solid 3px black;
    margin-top: 2rem;
    width: 80%;
    height: 10%;
}

.sign-up {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.SignUpLink {
    font-size: 1.3rem;
    color: #C9FE71;
    cursor: pointer;
}




#BodyRight {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    color: #C9FE71;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px black;
    padding: 5rem;
}

.StartAdventure {
    font-size: 4rem;
}

.LoginPageText {
    font-size: 1rem;
}

.Chef-Carlo2 {
    height: 30vmin;
    pointer-events: none;
    margin-top: 5rem;
}

.speech-bubble {
    position: relative;
    margin: .5em auto;
    padding: 1em;
    width: 35rem; height: 18rem;
    border-radius: .25em;
    transform: rotate(-4deg) rotateY(15deg);
    background: #c7fc71;
    font: 1.3rem Century Gothic, Verdana, sans-serif;
    text-align: center;
    color: #ffffff;
}

.speech-bubble:before, .speech-bubble:after {
    position: absolute;
    z-index: -1;
    content: '';
}

.speech-bubble:after {
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: inherit;
    transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
    background: #262525;
    box-shadow: 0 0 .5em rgb(199, 252, 113);
}

.speech-bubble:before {
    border: solid 0 transparent;
    border-right: solid 3.5em #000000;
    border-bottom: solid .25em #c7fc71;
    bottom: .25em; left: 1.25em;
    width: 0; height: 1em;
    transform: rotate(45deg) skewX(75deg);
}

.Chef-Carlo2 {
    height: 40%;
    margin-left: 5rem;
}




@media (max-width: 1100px){
    #LoginPage {
        height: 100vh;
        flex-direction: column;
    }

    #BodyLeft {
        display: flex;
        flex: 1;

        padding: 5rem;
    }

    .InputMail label, .InputPassword label {
        font-size: 1rem;
    }

    #exampleInputEmail1, #exampleInputPassword1 {
        height: 2rem;
    }

    .sign-up, .SignUpLink {
        font-size: 0.8rem;
        margin: 0;
    }

    .SubmitButton {
        font-size: 70%;
        width: 50%;
        height: 30%;
    }

    #BodyRight {
        padding: 2rem;
        display: flex;
        flex: 1;
    }

    .speech-bubble {
        width: 25rem;
        height: 50%;
        font-size: 40%;
    }

    .Chef-Carlo2 {
        height: 20vmin;
    }
}
