.RecipePage {
    position: absolute;
    overflow-x: hidden;
    Background-color: #38527D;
    height: 100vh;
    width: 100vw;
}

.NameOfDish {
    position: relative;
    display: flex;
    top: 5vh;
    left: 9vw;
    justify-content: left;

}


.ContainerTop {
    position: relative;
    display: flex;
    top: 0;
    left: -8vw;
    height: 100vh;
    width: 80vw;
    color: #C9FE71;

}

.Row1_left {

}

.RecipeImage {
    position: relative;
    display: flex;
    top: 10vh;
    left: 5vw;
    height: 60vh;
    width: 45vw;
    margin: auto;
    justify-content: center;
    box-shadow: 4px 4px #000000;
}

.Row1_right {

}

.InfoCardPaper{
    position: relative;
    display: flex;
    top: 10vh;
    margin: auto;
    justify-content: center;
}

.InfoCard {
    position: relative;
    display: flex;
    top: 10vh;
    margin: auto;
    justify-content: center;
    height: 60vh;
    width: 45vw;
    box-shadow: 4px 4px #000000;
}

.Row2_left {
    position: relative;
    display: flex;
    left: 16vw;
    top: -0;

}


.MakeShoppingList {
    position: relative;
    display: flex;
    top: -10vh;
    left: 7vw;
    justify-content: center;
    width: 10vw;
    height: 6vh;
    box-shadow: black 2px 2px 10px;
}

.AdvBtn {
    position: relative;
    display: flex;
    top: -10vh;
    left: 10vw;
    justify-content: center;
    width: 10vw;
    height: 5vh;
    box-shadow: black 1px 1px 10px;
}

.AdvBtn_self {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    width: 10vw;
    height: 6vh;
}



.Row2_right {
    position: relative;
    display: flex;
    top: 0;
    right: 20vw;
    height: 20%;
    width: 20%;

}

.InfoTable {
    position: relative;
    display: flex;
    top: 0;
    left: -8vw;
    height: 90vh;
    width: 45vw;
    justify-content: center;
    box-shadow: 4px 4px #000000;
}

.row3_full {
    position: relative;
    display: flex;
    top: 0;
    left: 0;

    justify-content: center;
    box-shadow: 4px 4px #000000;
}

.InfoTable {
    position: relative;
    display: flex;
    top: 0;
    left: 25vw;
    justify-content: center;
    box-shadow: 4px 4px #000000;
}
