.MainContainer {
    display: flex;
    flex-direction: column;
    background-color: #38527D;
    min-height: 100vh;
    padding-top: 30px;
}

#Top-Right-Container h1 {
    text-shadow: 2px 2px #C9FE71;
    color: #000000;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 4rem;
}

.infoText {
    color: black;
    font-size: 2vw;
    text-align: left;
}

#Top-Container {
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    background-color: #38527D;
    color: #000000;
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 30px;
}

#Top-Left-Container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#Top-Right-Container {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C9FE71;
    border-radius: 30px;
    margin-left: 30px;
}


#RecipeImage {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 5px 5px #000000;
}


#Middle-Container {
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    color: #000000;
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: left;
    margin-left: 30px;
}

#Middle-Left-Container {
    flex: 1;
    padding: 30px;
    background-color: #C9FE71;
    border-radius: 30px;
    margin: 50px;
}

#Middle-Right-Container {
    flex: 2;
    background-color: #c7fc71;
    padding: 30px;
    border-radius: 30px;
    margin: 50px;
}

#Button-Container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.rageQuitButton {
    background-color: #38527D;
    border: none;
    margin-left: 10%;
}

.btn {
    background-color: #38527D;
    border: none;
    cursor: pointer;
}

#Bottom-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vw;
    box-sizing: border-box;
    background-color: #38527D;
    color: #000000;
    font-size: 50px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}


.adventureButton{
    background-color: #38527D;
    border: none;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #c7fc71 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}