#box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.AppBar{
    background-color: #C9FE71;
}

.ToolBar {
    box-shadow: 0 0 5px #c7fc71;
}

.ButtonGroup {
    box-shadow: 0 0 10px #c7fc71;
}

.Logo {
    width: 5vw;
    height: 5vw;
}

.MenuIcon {
    position: relative;
    box-shadow: 0 0 10px #c7fc71;
}

.MenuPopover {
    position: absolute;
    top: 100%;

    z-index: 5;
}

.MenuPopover .MenuListComposition {
    z-index: 4;
}

.LoginButton {
    box-shadow: 0 0 10px #c7fc71;
}


.AvatarImg {
    width: 5vw;
    height: 5vw;
}

@media only screen and (max-width: 600px){
    .LinksPages,
    .ButtonGroup,
    .MenuIcon,
    .LoginButton,
    .Avatar {
        display: none;
    }

}





