.AppBar{
    background-color: #C9FE71;
}

.ToolBar {
    box-shadow: 0 0 10px #000000;

}

.Logo {

}

.LinksPages {

}

.ButtonGroup {

}

.ButtonGroup .MyRecipes {

}

.MenuIcon {
    position: relative;
}

.MenuPopover {
    position: absolute;
    top: 100%;

    z-index: 5;
}

.MenuPopover .MenuListComposition {
    z-index: 4;
}

.LoginButton {

}

.Avatar {

}

@media only screen and (max-width: 600px){
    .LinksPages,
    .ButtonGroup,
    .MenuIcon,
    .LoginButton,
    .Avatar {
        display: none;
    }

}





