#box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.AppBar{
    background-color: #C9FE71;
}

.ToolBar {
    box-shadow: 0 0 5px #c7fc71;
    display: flex;
}


#logoContainer {
    flex-grow: 5;
}

.Logo {
    width: 15%;
    max-width: 15vw;
    min-width: 5vw;
}


#linkContainer {
    flex-grow: 5;
}

.ButtonGroup {
    box-shadow: 0 0 10px #c7fc71;
}


#menuButtonContainer {
    flex-grow: 1;
}


.MenuIcon {
    box-shadow: 0 0 10px #c7fc71;
}

.MenuPopover {
    position: absolute;
    top: 100%;

    z-index: 5;
}

.MenuPopover .MenuListComposition {
    z-index: 4;
}


#loginContainer {
    flex-grow: 1;
}

.LoginButton {
    box-shadow: 0 0 10px #c7fc71;
}


#avatarContainer {
    flex-grow: 1;

}

.AvatarImg {
    width: 5vw;
    height: 5vw;
}


@media (max-width: 1100px){
    .LinksPages,
    .ButtonGroup,
    .MenuIcon,
    #loginContainer {
        display: none;
    }

    .MenuIcon {
        box-shadow: 0 0 0;
    }

    .LoginButton {
        box-shadow: 0 0 0;
    }

    .AvatarImg {
        width: 10vw;
        height: 10vw;
    }

    #logoContainer {
        flex-grow: 10;
    }

    .Logo {
        width: 30%;
        height: 30%;
    }


    #linkContainer {
        flex-grow: 1;
    }

    #menuButtonContainer {
        flex-grow: 1;
    }

    .MenuIcon {
        box-shadow: 0 0 0;
    }

    #loginContainer {
        flex-grow: 1;
    }

    #avatarContainer {
        flex-grow: 1;
    }

}





