
.ProfilePage {
    background-image: url("../assets/ProfilePage/Background.png");
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.Header {

}

.ContainerTop {
    display: flex;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    Background-color: transparent;
}

.Stack1 {
    Background-color: transparent;
}

.Stack2 {
    Background-color: transparent;
}

.App-logo_ProfilePage {
    width: 100%;
    height: 100%;
    margin-right: 5rem;
    Background-color: transparent;
}

.AvatarUsernameHolder {
    width: 100%;
    height: 100%;
    margin-left: 3rem;
}

.p-3 {
    margin-left: 10rem;
}

.Buttons {

}

.LogoutButton {
    width: 100%;
    height: 100%;
}

.SettingsButton {
    width: 100%;
    height: 100%;

}

.ContainerBottom {
    display: flex;
    margin-top: 6rem;
    Background-color: transparent;

}

.Stack3 {
    display: flex;
}

.HistoryCard {

}

.FavoritesCard {

}

.OwnRecipesCard {

}

#cardsContainer {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.frameOfCards {
    position: absolute;
    display: flex;
    border-radius: 30px;
    height: 100%;
    width: 100%;
   box-shadow: 0px 0px 50px 0px #C9FE71 ;
    z-index: 0
}

#threeCards {
    position: relative;
    z-index: 1; /* Höher als .frameOfCards */
}



