h1 {


}


.Avatar{
    width: 100px;
    height: 100px;
}
#ProfilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/ProfilePage/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#ContainerTop {
    display: flex;
    margin-top: 4rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

#divLogo {
    display: flex;
    flex: 1;
    justify-content: center;
}

.carlos {
    width: 45%;
}

#divUserInfo {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3d63a4;
    width: 30rem;
    height: 10rem;
    border-radius: 2rem;
}

#buttonContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
}

.LogoutButton {
    display: flex;
    margin-bottom: 2rem;
}

.SettingsButton {
    display: flex;
    margin-bottom: 2rem;
}

#containerBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:70%;
    margin-top: 2rem;
}

.CardHolder-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 30rem;
    background-color: #3d63a4;
    border-radius: 2rem;
}

.CardHolder-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 30rem;
    background-color: #3d63a4;
    border-radius: 2rem;
}

.CardHolder-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 30rem;
    background-color: #3d63a4;
    border-radius: 2rem;
}



@media (max-width: 1100px){
    #ContainerTop {
        flex-direction: column;
        width: 100%;
    }

    .carlos {
        display: none;
    }


    #divLogo {
        margin-bottom: 2rem;
    }

    #divUserInfo {
        width: 80%;
    }

    #containerBottom {
        flex-direction: column;
    }

    .CardHolder-1, .CardHolder-2, .CardHolder-3 {
        width: 100%;
        margin-bottom: 2rem;
    }
}