.SignUpPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerSignUp {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.bodySignUp {
    display: flex;
    padding-bottom: 2rem;
}

.formContainer {
    display: flex;
    width: 25rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #C9FE71;
    padding: 2rem;
    border-radius: 1rem;
}

.carlosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: black;
}

.speech-bubble {
    color: #C9FE71;
    background-color: #262525FF;
    font-weight: bold;
}

.chef-carlos {
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


@media (max-width: 1100px){

    .bodySignUp{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formContainer {
        width: 20rem;
    }

    .carlosContainer{
        margin-top: 2rem;
        width: 20rem;
    }

    .chef-carlos{
        width: 15rem;
        margin-top: 0;
    }

}