#LandingPage {
  overflow-x: hidden;
  background-color: #38527D;
  min-height: 80vh;
  display: flex;
  flex-direction: row;

}




#LeftContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 400%;
  color: #C9FE71;
  text-shadow: 2px 2px 4px #000000;
  text-align: left;
  margin-top: 10%;
  margin-left: 15%;
}

.text {
  font-size: 150%;
  color: #ffffff;
  text-shadow: 2px 2px 3px black;
  text-align: left;
  width: 80%;
  height: 20%;
  margin-left: 15%;
}

.StartJourneyButton {
  background-color: #C9FE71;
  color: #000000;
  font-size: 3vh;
  font-weight: bold;
  display: inline-block;
  padding: 1rem 2rem 1rem;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 3%;
  margin-top: 20%;
  border: solid 3px black;
  margin-left: 30%;
  width: 30%;
  text-align: center;
}




#RightContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ChefAndBackground {
  background-image: url("../assets/Logos_Icons/CookHub_Logo_Frameless.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.Chef {
  height: 80%;
  width: 80%;
}


/*Tablet*/
@media (max-width: 768px) {
  #LandingPage {
    flex-direction: column;
    align-items: center;
  }

  #LeftContainer,
  #RightContainer {
    width: 90%;
    align-items: center;
  }

  .title {
    font-size: 270%;
  }

  .text {
    font-size: 150%;
    width: 90%;
  }

  .StartJourneyButton {
    width: 40%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 15%;
  }

  .Chef {
    height: 30vh;
  }
}

/*Mobile*/
@media (max-width: 480px) {
  #LandingPage {
    flex-direction: column;
  }

  #LeftContainer,
  #RightContainer {
    width: 90%;
    align-items: center;
  }

  .title {
    font-size: 170%;
  }

  .text {
    font-size: 90%;
    width: 90%;
  }

  .StartJourneyButton {
    width: 60%;
    font-size: 80%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 15%;
  }


  .Chef {
    height: 20vh;
  }
}