.App {
  text-align: center;

}


a:hover{
  color: aliceblue;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 28vh;
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 20px;
  display: flex;
  gap: 1rem;
  width: 100%;
  float: left;
  color: black;
  overflow-x: hidden;
}


.LandingPage {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #38527D;
  height: 100vh;
  width: 100vw;
}

.LandingBody {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #38527D;
  overflow-x: hidden;
}


.Landingpage_title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 78px;
  color: #C9FE71;
  text-shadow: 2px 2px 4px #000000;
  text-align: left;
  margin-left: 10vw;
}


.Landingpage_text {
  font-weight: 400;
  font-size: 2vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 3px black;
  text-align: left;
  margin-left: 10vw;
  width: 35vw;
  height: 20vh;
}




.Chef_Carlo {
  height: 60vmin;
  pointer-events: none;
  margin-left: 20vw;
  margin-top: -6vh;
}



.Login-link {
  background-color: #C9FE71;
  color: #38527D;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  padding: 1rem 2rem 1rem;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-top: 7rem;
  margin-left: 12vw;
  border: solid 2px black;

}

.FAQs-link {
  color:  #C9FE71;
  font-family: Arial, serif;
  display: inline-block;
  padding: 1rem 2rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;

}

.About-link {
  color:  #C9FE71;
  font-family: Arial, serif;
  display: inline-block;
  padding: 1rem 2rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;

}

ul>li{
  list-style: none;
}

.Impressum-link {
  color:  #C9FE71;
  font-family: Arial, serif;
  display: inline-block;
  padding: 1rem 1rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;

}





/*Makes the logo spin:
/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
