.App {
  text-align: center;
}

a:hover{
  color: aliceblue;
}

ul>li{
  list-style: none;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

#LandingPage {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #38527D;
  min-height: 100vh;
  max-height: 100vh;
}

.LandingBody {
  display: flex;
  margin-top: 15vh;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #38527D;
}

.Landingpage_title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 7vh;
  color: #C9FE71;
  text-shadow: 2px 2px 4px #000000;
  text-align: left;
  margin-left: 10vw;
}

.Landingpage_text {
  font-weight: 400;
  font-size: 2vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 3px black;
  text-align: left;
  margin-left: 10vw;
  width: 35vw;
  height: 20vh;
}

.Login-link {
  background-color: #C9FE71;
  color: #38527D;
  font-size: 3vh;
  font-weight: 400;
  display: inline-block;
  padding: 1rem 2rem 1rem;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-top: 7rem;
  margin-left: 12vw;
  border: solid 2px black;
}

.ChefAndBackground {
  background-image: url("../assets/Logos_Icons/CookHub_Logo_Frameless.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;

}

.Chef {
  position: relative;
  display: block;
  width: 40vw;
  height: auto;
  pointer-events: none;
  margin: auto;
  top: 8vh;
  max-width: 750px;
  max-height: 750px;
}

/* Media Query für schmalere Bildschirme */
@media (max-width: 768px) { /* 768px ist ein gängiger Breakpoint für Tablets */

  .LandingBody {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Landingpage_title,
  .Landingpage_text,
  .Login-link {
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Zentriert den Text */
    width: auto; /* Setzt die Breite auf Auto, um volle Breite des Containers zu nutzen */
  }

  .Login-link {
    margin-bottom: 3rem; /* Hält bestehenden unteren Abstand bei */
  }

  .ChefAndBackground {
    order: 2;
    margin-top: 4rem;
  }

  .Chef {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 100%;
    margin-top: 8rem;
  }
}
