.App {
  text-align: center;
  background-color: #38527D;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Login-link {
  color: greenyellow;
  font-family: Arial;
}

.Landingpage_noodles_in_bowl {
  height: 15vmin;
  pointer-events: none;
}

.Landingpage_meat_pieces {
  height: 14vmin;
  pointer-events: none;
}

.Landingpage_noodles_with_basi {
    height: 15vmin;
    pointer-events: none;
}

.body {
  width: 1000px;
  height: 1000px;
  position: relative;

}





/*Makes the logo spin:
/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
