*{
  background-color: #38527D;
}

.App {
  text-align: center;

}
a{
  color: black;
}

a:hover{
  color: aliceblue;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 28vh;
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 20px;
  display: flex;
  gap: 1rem;
  width: 100%;
  float: left;
  color: black;

}

.App-header ul{
  margin-top: 2rem;
  margin-left: -2rem;
}

.App-header ul li{
  list-style-type: none;
  display: inline;
  margin: 2rem 2rem 3rem;
}

.App-header ul li:last-child{
  list-style-type: none;
  display: inline;
  margin-right: 2rem;
}

.Login-link {
  color:  #C9FE71;
  font-family: Arial, serif;
  display: inline-block;
  padding: 1rem 1rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;

}

.FAQs-link {
  color:  #C9FE71;
  font-family: Arial, serif;
  display: inline-block;
  padding: 1rem 2rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;

}

.About-link {
  color:  #C9FE71;
  font-family: Arial, serif;
  display: inline-block;
  padding: 1rem 2rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;

}

ul>li{
  list-style: none;
}

.Impressum-link {
  color:  #C9FE71;
  font-family: Arial, serif;
  display: inline-block;
  padding: 1rem 1rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;

}



.Landingpage_title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 78px;
  color: #C9FE71;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 5rem;
}

.body {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px black;

    }


.Landingpage_text {

    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #ffffff;
    text-shadow: 2px 2px 3px black;
    text-align: left;
    margin-left: 5rem;
    width: 720px;
}



.Start-Journey {
  background-color: #C9FE71;
  color: #38527D;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  padding: 1rem 2rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-top: 7rem;
  margin-left: 15rem;
  border: solid 1px black;
}




.Landingpage_images {
  display: block;
  margin-left: 30rem;
  margin-top: -60rem;
}

.Upper_pics {
  margin-right: 10rem;

}

.Chef_Carlo {
  height: 15vmin;
  pointer-events: none;
}


.Landingpage_noodles_in_bowl {
  height: 15vmin;
  pointer-events: none;

}

.Lower_pics {


}

.Landingpage_meat_pieces {
  height: 15vmin;
  pointer-events: none;
  display: inline-block;
  margin-bottom: -10rem;
}

.Landingpage_noodles_with_basi {
    height: 15vmin;
    pointer-events: none;
    margin-left: 50rem;
    margin-top: 5rem;
    display: inline-block;
}







/*Makes the logo spin:
/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
