*{
  background-color: #38527D;
}

.App {
  text-align: center;

}
a{
  color: black;
}

a:hover{
  color: aliceblue;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 50vh;
  margin-right: 25%;
  margin-left: 200px;
  font-size: calc(10px + 2vmin);
  display: flex;
  gap: 10px;
  width: 100%;
  float: left;
  color: black;

}

.App-header ul{
  margin-top: 50px;
}

.App-header ul li{
  list-style-type: none;
  display: inline;
  margin: 15px 10px 0px 74px;
}

.App-header ul li:last-child{
  list-style-type: none;
  display: inline;
  margin-right: 100px;
}

.Login-link {
  color: greenyellow;
  font-family: Arial, serif;
  display: inline-block;
  padding: 5px 40px 0px 40px;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin-bottom: 360px;
  margin-top: 50px;
  margin-left: 450px;
  border: solid 1px black;
}

.FAQs-link {
  color: greenyellow;
  font-family: Arial, serif;
  display: inline-block;
  padding: 5px 40px 0px 40px;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin-bottom: 360px;
  margin-top: 50px;
  margin-left: 450px;
  border: solid 1px black;
}

.About-link {
  color: greenyellow;
  font-family: Arial, serif;
  display: inline-block;
  padding: 5px 40px 0px 40px;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin-bottom: 360px;
  margin-top: 50px;
  margin-left: 450px;
  border: solid 1px black;
}

.Impressum-link {
  color: greenyellow;
  font-family: Arial, serif;
  display: inline-block;
  padding: 5px 40px 0px 40px;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin-bottom: 360px;
  margin-top: 50px;
  margin-left: 450px;
  border: solid 1px black;
}

.Landingpage_noodles_in_bowl {
  height: 15vmin;
  pointer-events: none;
}

.Landingpage_meat_pieces {
  height: 14vmin;
  pointer-events: none;
}

.Landingpage_noodles_with_basi {
    height: 15vmin;
    pointer-events: none;
}
.body{
  font-family: Brush Script MT, Brush Script Std, cursive;
}





/*Makes the logo spin:
/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
